body {
  background-color: #202020; 
  color:#111;
}

.title {
  position: static;
  font-family: 'EB Garamond';
  font-size: 50px;
  margin-left: 400px;
  color:#C0C0C0;
}

.text {
  font-family: 'EB Garamond';
  font-size: 10px;
  text-align: center;
}

.main {
  margin-left: 350px;
  padding: 0px 10px;
}

#friends {
  right: 500px;
  background-color: #eee8d5;
}

#friendnav a {
  position: absolute;
  top: -40px;
  transition: 0.3s;
  padding: 15px;
  width: 100px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  border-radius: 0 0 5px 5px;
  text-align: center;
  color: #818181;
}

#friendnav a:hover {
  top: 0;
  color: #000000;
}

.channelnav {
  height: 100%;
  width: 325px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #002b36;
  overflow-x: hidden;
  padding-top: 16px;
}

.channelnav a {
  text-align: center;
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
}

.channelnav a:hover {
  color: #f1f1f1;
}

@media screen and (max-height: 450px) {
  .channelnav {padding-top: 15px;}
  .channelnav a {font-size: 18px;}
}

.profilenav {
  height: 10%;
  width: 500px;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #000000;
  overflow-x: hidden;
  padding-top: 16px;
}

.profilenav a {
  text-align: center;
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
}

.profilenav a:hover {
  color: #f1f1f1;
}

@media screen and (max-height: 450px) {
  .profilenav {padding-top: 15px;}
  .profilenav a {font-size: 18px;}
}

.functionalitynav {
  height: 100%;
  width: 500px;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #080808;
  overflow-x: hidden;
  padding-top: 20px;
  margin-top: 100px;
}

.functionalitynav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  text-align: center;
}

.functionalitynav a:hover {
  color: #f1f1f1;
}
