body {
  background-color:#DBCDC6;
  color:#111;
  overflow-y:hidden;
}

.title {
  position: static;
  font-family: 'EB Garamond';
  font-size: 50px;
  margin-left: 400px;
  color:#C0C0C0;
}

.text {
  font-family: 'EB Garamond';
  font-size: 10px;
}

.main {
  margin-left: 350px;
  padding: 0px 10px;

}

#friends {
  right: 25%;
  background-color: #eee8d5;
}

#friendnav a {
  position: absolute;
  top: -40px;
  transition: 0.3s;
  padding: 15px;
  width: 100px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  border-radius: 0 0 5px 5px;
  text-align: center;
  color: #818181;
}

#friendnav a:hover {
  top: 0;
  color: #000000;
}

.channelnav {
  height: 100%;
  width: 15%;
  position: fixed;
  z-index: 1;
  background-color: #002b36;
  overflow-x: hidden;
  padding-top: 16px;
}

.channelnav a {
  text-align: center;
  font-family: "EB Garamond";
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
}

.channelnav a:hover {
  color: #f1f1f1;
}

@media screen and (max-height: 450px) {
  .channelnav {padding-top: 15px;}
  .channelnav a {font-size: 18px;}
}

.profilenav {
  font-family: "EB Garamond";
  height: 10%;
  width: 25%;
  position: fixed;
  z-index: 1;
  right: 0;
  background-color: #101010;
  overflow-x: hidden;
  /*padding-top: 16px;*/
}

.profilenav a {
  font-family: "EB Garamond";
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  margin-top:8%;
  display: block;
}

.profilenav a:hover {
  color: #f1f1f1;
}

@media screen and (max-height: 450px) {
  .profilenav {padding-top: 15px;}
  .profilenav a {font-size: 18px;}
}

.functionalitynav {
  height: 100%;
  width: 25%;
  position: fixed;
  z-index: 1;
  right: 0;
  background-color: #080808;
  overflow-x: hidden;
  padding-top: 1%;
  margin-top: 5%;
}

.functionalitynav a {
  padding: 6px 8px 6px 16px;
    font-family: "EB Garamond";
    text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  text-align: center;
}

.functionalitynav a:hover {
  color: #f1f1f1;
}

.messagebox {
  width: 60%;
  box-sizing: border-box;
  position: fixed;
  bottom :0;
  left:15%;
  z-index: 1;
  outline-style: none ;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 13px 14px;
  font-size: 14px;
  font-weight: 700;
  font-family: "Microsoft soft", 'serif';
}
input:focus{
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6)
}

.messagearea{
  pointer-events: none;
  position: absolute;
  width:60%;
  left:15%;
  right:25%;
  top:0;
  border:0;
  border-radius: 3px;
  scrollbar-arrow-color:yellow;
  scrollbar-base-color:lightsalmon;
  overflow: hidden;
  padding: 13px 14px;
  color: #666464;
  height: 90%;
  font-family: Georgia, serif;
  font-size: 23px;
  letter-spacing: 1.2px;
  word-spacing: -0.2px;
  font-weight: 700;
  text-decoration: none solid rgb(68, 68, 68);
  font-style: normal;
  font-variant: normal;
  text-transform: none;
}

.channelname, .channeldesc{
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

/* Add a background color when the inputs get focus */
.channelname, .channeldesc:focus {
  background-color: #ddd;
  outline: none;
}

#channelcreation{
    margin-left: 70%;
}


/* Extra styles for the cancel button */
.cancelbtn {
  background-color: #f44336;
}

.createbtn {
  background-color: green;
}


/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .createbtn {
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  opacity: 0.9;
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.container {
  padding: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 3; /* Sit on top */
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: transparent;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
    position: fixed;
  /*margin: 5% auto 10% auto; !* 5% from the top, 15% from the bottom and centered *!*/
   top:10%;
   left:30%;
  border: 1px solid #888;
  width: 35%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
/*hr {*/
/*  border: 1px solid #f1f1f1;*/
/*  margin-bottom: 50px;*/
/*}*/

/* The Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .createbtn {
    width: 50%;
  }
}